<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
<div class="alert alert-success" role="alert">
  Home component!
</div>
